{% extends '_base.html' %}

{% block content %}
<div class="container mx-auto bg-light-blue-c py-8 px-4">
    <h1 class="text-3xl font-bold text-center mb-6">User List</h1>

    <!-- Filter Form -->
    <form id="filter-form" class="px-4 py-2 rounded-lg shadow-lg grid grid-cols-6 gap-4 bg-white">
        <input
            type="text"
            id="search"
            name="search"
            placeholder="Search by username"
            class="mt-2 block h-11 border border-blue-2-c rounded-2xl shadow-sm focus:ring-blue-3-c focus:border-blue-3-c px-4 col-span-5 self-end"
        />
        <button
            type="submit"
            class="text-white bg-dark-blue-c hover:bg-blue-1-c focus:outline-none font-medium rounded-full text-sm px-6 w-32 h-11 justify-self-center self-end"
        >
            Filter
        </button>
    </form>

    <!-- User List -->
    <div class="mt-4">
        <ul id="user-list" class="py-3 gap-3 flex flex-col">
            {% include 'walletmate_app/user_list_partial.html' %}
        </ul>
    </div>
</div>

<script>
  document.getElementById("filter-form").addEventListener("submit", function(e) {
    e.preventDefault();
    const searchValue = document.getElementById("search").value;

    fetch("{% url 'user_list' %}?search=" + encodeURIComponent(searchValue), {
      headers: { "X-Requested-With": "XMLHttpRequest" }
    })
      .then(response => response.text())
      .then(data => {
        document.getElementById("user-list").innerHTML = data;
      })
      .catch(error => console.error("Error fetching filtered users:", error));
  });
</script>
{% endblock %}
