{% extends '_base.html' %} {% block content %}
<div class="flex justify-center items-center min-h-fit">
  <div class="bg-white p-8 rounded-xl shadow-xl w-full max-w-md my-16 ">
    <!-- Form Header -->
    <h2 class="text-3xl font-bold text-center text-gray-900">
      Add Transaction
    </h2>
    <p class="text-gray-500 text-center mt-2">Manage your expenses with ease</p>

    <!-- Transaction Form -->
    <form method="POST" class=" space-y-3">
      {% csrf_token %} {% for field in form %}
      <div>
        <label
          for="{{ field.id_for_label }}"
          class="block text-gray-800 font-semibold mb-2"
        >
          {{ field.label }}
        </label>
        <div class="relative">{{ field }}</div>
        {% if field.help_text %}
        <p class="text-sm text-gray-500">{{ field.help_text }}</p>
        {% endif %}
      </div>
      {% endfor %}

      <!-- Submit Button -->
      <button
        type="submit"
        class="w-full py-3 text-lg font-semibold text-white bg-gradient-to-r from-blue-500 to-blue-700 rounded-xl shadow-md hover:shadow-lg hover:scale-[1.02] transition-all duration-300"
      >
        Save Transaction
      </button>
    </form>
  </div>
</div>
{% endblock %}
